<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
  <title>Employee</title>
  <style>
    .viewbody{
    background-color: #787aa8;
    }
    .employeebox{
    background-color: #d78169;
    padding: 20px;
    width: 400px;
    margin: 50px auto;
    border-radius: 8px;
    box-shadow: 2px 2px rgb(54, 152, 141);
    }

  </style>
</head>
<body class="viewbody">
<div class="employeebox">
  <h3>Employee:-</h3>
  <div class="employee">
    <p><strong>FirstName : </strong><span th:text="${employee.firstname}"></span></p>
    <p><strong>LastName : </strong><span th:text="${employee.lastname}"></span></p>
    <p><strong>Department : </strong><span th:text="${employee.department}"></span></p>
    <p><strong>Email ID : </strong><span th:text="${employee.email}"></span></p>
    <p><strong>Phone NO : </strong><span th:text="${employee.phoneno}"></span></p>
    <p><strong>Salary : </strong><span th:text="${employee.salary}"></span></p>
  </div>
</div>
</body>
</html>